mixin part-breadcrumbs(props = {})
	-
		const { modes, list, divider = '/' } = props;
		const classNamesFiltered = getClassNamesFiltered(modes);

	+b.NAV.part-breadcrumbs(class=classNamesFiltered)&attributes(attributes)
		if list && list.length
			+e.UL.list
				each link, index in list
					+e.LI.list-item
						+e({tag: index + 1 < list.length ? 'a' : 'div' }).link(href=index + 1 < list.length ? link.url : null)
							| #{ link.text }
						if index + 1 < list.length
							+e.divider
								if divider.name && divider.viewBox
									+core-svg-icon(divider)
								else
									| #{ divider }
