mixin part-templates(props = {})
	if (block && block.toString() && (block.toString().includes('pug_html') || block.toString().includes('pug_mixins')))
		+b.SECTION.part-templates(aria-hidden='true')
			h2.visually-hidden
				| Секция с шаблонами сайта
			block
