mixin ui-checkbox(props = {})
	-
		const { modes, inputAttrs = {}, text, icon, attrs } = props;
		const classNamesFiltered = getClassNamesFiltered(modes, 'js-ui-checkbox');

	+e.LABEL.ui-checkbox.ui-checkbox__(class=classNamesFiltered)
		+e.INPUT.input.js-ui-checkbox-input(type='checkbox')&attributes(inputAttrs)
		+e.icon
			+core-svg-icon(icon || Icons.check)
		+e.content
			if text
				+e.text
					| !{ text }
			+e.error.js-ui-checkbox-error
