@use '/src/styles/mixins/core-media-mixin' as *;
@use '/src/styles/mixins/flex-center' as *;
@use '/src/styles/mixins/default-transition' as *;
@use '/src/styles/mixins/visually-hidden' as *;
@use '/src/styles/mixins/text-underline' as *;

.ui-checkbox {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	cursor: pointer;

	&__input {
		@include visually-hidden;
	}

	&__icon {
		flex: 0 0 auto;
		width: 2rem;
		height: 2rem;
		background-color: #808080;
		border-radius: 0.4rem;
		fill: transparent;
		transition-property: fill;

		@include flex-center;
		@include default-transition;

		svg {
			width: 1.1rem;
		}
	}

	&__content {
		display: flex;
		flex-shrink: 1;
		flex-flow: column nowrap;
		gap: 0.5rem;
		align-self: center;
	}

	&__text {
		color: var(--color-black);
		opacity: 0.8;

		a {
			@include text-underline;
			@include default-transition;

			transition-property: text-decoration;
		}
	}

	&__error {
		color: #f00;
	}

	&__input:checked {
		~ .ui-checkbox__icon {
			fill: #00f;
		}
	}

	&:not(.is-error) {
		.ui-checkbox {
			&__error {
				display: none;
			}
		}
	}
}
