mixin section-page-list
	.section-page-list
		.section-page-list__wrap
			.section-page-list__box
				.section-page-list__header
					h3.section-page-list__title
						| Страницы проекта&nbsp;
						span «#project-name»:
					a.section-page-list__git-link(
						href='https://gitlab.com/ladown'
						target='_blank'
					) ladown
				#section-page-list
