@use '/src/styles/mixins/flex-center' as *;
@use '/src/styles/mixins/default-transition' as *;

.button-burger {
	position: relative;
	width: 4.2rem;
	height: 3.5rem;
	padding: 1.05rem 1.2rem;
	cursor: pointer;
	background-color: var(--color-black);
	border-radius: 0.6rem;

	@include flex-center;

	&__lines {
		position: relative;
		width: 1.6rem;
		height: 1.2rem;
	}

	&__line {
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		border-radius: 100px;
		transition-property: transform, opacity, top, bottom;

		@include default-transition;

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(4) {
			bottom: 0;
		}

		&:nth-child(1),
		&:nth-child(4) {
			transition-delay: var(--transition-duration);
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&.is-active {
		.button-burger {
			&__line {
				&:nth-child(1) {
					top: 50%;
					transform: translateY(-50%);
				}

				&:nth-child(4) {
					bottom: 50%;
					transform: translateY(50%);
				}

				&:nth-child(2) {
					transform: translateY(-50%) rotate(45deg);
				}

				&:nth-child(3) {
					transform: translateY(-50%) rotate(-45deg);
				}

				&:nth-child(1),
				&:nth-child(4) {
					opacity: 0;
					transition-delay: 0s;
				}

				&:nth-child(2),
				&:nth-child(3) {
					transition-delay: var(--transition-duration);
				}
			}
		}
	}
}
