mixin button-burger(props = {})
	-
		const { elementModes, isActive, jsClass, ariaLabel = 'Кнопка для открытия мобильного меню' } = props;
		const classNamesFiltered = getClassNamesFiltered(elementModes, 'button-burger__', jsClass, isActive && 'is-active');
		let count = 0;

	+e.BUTTON.button-burger(class=classNamesFiltered aria-label=ariaLabel)&attributes(attributes)
		+e.SPAN.lines(aria-hidden='true')
			while count < 4
				+e.SPAN.line
				-
					count += 1;
