mixin core-modal(props = {})
	-
		const { id, modes = [], cssAnimationClass, buttonClose = false } = props;

		if (cssAnimationClass) {
			modes.push(`animation_${cssAnimationClass}`)
		}

		const classNamesFiltered = getClassNamesFiltered(modes, 'js-core-modal');

	+b.SECTION.core-modal(id=id class=classNamesFiltered data-noscroll-target-scrollable)&attributes(attributes)
		+e.overlay.js-core-modal-close
		if block
			block
