@use '/src/styles/mixins/default-transition' as *;
@use '/src/styles/mixins/overflow-y-scroll' as *;
@use '/src/styles/mixins/core-media-mixin' as *;

.core-modal {
	position: fixed;
	inset: 0;
	z-index: 100;
	display: none;
	padding: 2rem;

	@include overflow-y-scroll;

	@include large-mobile {
		padding: 1rem;
	}

	&__overlay {
		position: fixed;
		inset: 0;
		background-color: rgba(var(--color-black), 80%);
		transition-property: opacity;

		@include default-transition;
	}

	&__wrapper {
		position: relative;
		z-index: 1;
		transition-delay: calc(var(--transition-duration) / 3);
		transition-property: transform, opacity;

		@include default-transition;
	}

	&:not(.is-opened) {
		.core-modal {
			&__overlay {
				opacity: 0;
				transition-delay: calc(var(--transition-duration) / 2);
			}

			&__button-close {
				opacity: 0;
				transition-delay: calc(var(--transition-duration) / 2);
			}
		}
	}
}
