mixin ui-input(props = {})
	-
		const { modes = [], isTextArea, label, inputAttrs = { type: 'text' }, postfix } = props;

		if (isTextArea) {
			modes.push('textarea');
		}

		const classNamesFiltered = getClassNamesFiltered(modes, 'js-ui-input');

	+e.LABEL.ui-input.ui-input__(class=classNamesFiltered)&attributes(attributes)
		if label
			+e.label
				| #{ label }
		+e.content
			+e({tag: isTextArea ? 'textarea' : 'input'}).input.js-ui-input-input&attributes(inputAttrs)
			if postfix && postfix.length
				+e.UL.postfix-list
					each postfixItem in postfix
						if postfixItem
							+e.LI.postfix-list-item
								+e({tag: postfixItem.tag || 'div'}).postfixItem(class=`${postfixItem.jsClass ? postfixItem.jsClass : ''}`)
									if postfixItem.icon
										+core-svg-icon(postfixItem.icon)
									else if postfixItem.text
										| #{ postfixItem.text }
		+e.error.js-ui-input-error
