@use '/src/styles/mixins/core-media-mixin' as *;
@use '/src/styles/mixins/default-transition' as *;
@use '/src/styles/mixins/normalize-input-autocomplete-styles' as *;
@use '/src/styles/mixins/visually-hidden' as *;

.ui-input {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;

	&__content {
		display: flex;
		width: 100%;
		padding: 0 2rem;
		background-color: #808080;
		border: 1px solid transparent;
		border-radius: 1rem;
		transition-property: border-color;

		@include default-transition;

		@include large-mobile {
			padding: 0 1.6rem;
		}
	}

	&__input {
		width: 100%;
		padding: 2rem 0;
		font-size: clamp(16px, 1.6rem, 1.6rem);
		font-weight: 400;
		line-height: 1.45;
		transition-property: color;

		@include default-transition;
		@include normalize-input-autocomplete-styles(transparent, transparent, #a1a1a2, transparent);

		@include large-mobile {
			padding: 1.6rem 0;
		}

		&:is(textarea) {
			resize: none;
		}

		&::placeholder {
			color: #a1a1a2;
			transition-property: color;

			@include default-transition;
		}

		&:focus,
		&:-webkit-autofill:focus {
			color: var(--color-black);
			outline: none;

			&::placeholder {
				color: var(--color-black);
			}
		}
	}

	&__error {
		margin-top: 1rem;
		color: #f00;
	}

	&_theme {
		&_light {
			.ui-input {
				&__content {
					background-color: #fff;
				}
			}
		}
	}

	&:not(.is-error) {
		.ui-input {
			&__error {
				display: none;
			}
		}
	}

	&.is-error {
		.ui-input {
			&__content {
				color: #f00;
			}
		}
	}
}
