-
	const getSrcset = (ctx = {}) => {
		if (!(ctx && ctx.url)) {
			return false;
		}

		const { url = '', url2x = '', isSource = false, isWebp = false } = ctx;
		let srcset = null;

		if (url && url2x && !url.includes('.svg')) {
			srcset = `${`${url}${isWebp ? '?as=webp' : ''}`} 1x, ${`${url2x}${isWebp ? '?as=webp' : ''}`} 2x`;
		} else if (url && (isSource || isWebp)) {
			srcset = `${url}${isWebp ? '?as=webp' : ''}`;
		}

		return srcset;
	};

mixin core-photo(props = {})
	-
		const {
			elementClass = 'core-photo',
			elementModes,
			modes,
			url,
			url2x,
			alt = '',
			responsive,
			classNamesImage,
			isObjectFitCover = false,
			isObjectFitContain = false,
			loading = 'lazy'
		} = props;

		const classNamesFiltered = getClassNamesFiltered(elementClass, elementModes, 'core-photo__', modes);
		const classNamesImageFiltered = getClassNamesFiltered(isObjectFitCover && 'object-fit-cover', isObjectFitContain && 'object-fit-contain', classNamesImage);

		const defaultResponsiveOptions = {
			resolution: 580,
			mediaQuery: 'max',
		};

	+e.PICTURE(class=classNamesFiltered)&attributes(attributes)
		if responsive && responsive.length
			each photo in responsive
				-
					const responsiveOptions = photo.responsiveOptions || defaultResponsiveOptions;

				if photo.url
					source(
						srcset=getSrcset({ url: photo.url, url2x: photo.url2x, isSource: true })
						media=`(${responsiveOptions.mediaQuery}-width: ${responsiveOptions.resolution}px)`
					)
		if url
			img(
				src=url
				srcset=getSrcset({ url, url2x })
				alt=alt
				class=classNamesImageFiltered
				loading=loading || false
			)
