extends /layouts/default.pug

block append head-start

block append styles
	link(
		href='/src/styles/index-page-styles.scss'
		rel='stylesheet'
	)

block append head-end

block append body-start

block append header

block append content-start

block append content-end

block append footer

block append tooltips

block append modals

block append templates

block append scripts
	script(
		src='/src/scripts/index-page-scripts.js'
		type='module'
	)

block append body-end
