include ../components/components-loader.pug

doctype html

html#page-list(lang='ru')
	head
		meta(charset='UTF-8')

		meta(
			name='viewport'
			content='width=device-width, initial-scale=1, user-scalable=no'
		)

		meta(
			name='format-detection'
			content='telephone=no'
		)

		meta(
			http-equiv='X-UA-Compatible'
			content='IE=edge'
		)

		title Страницы проекта&nbsp;«#project-name»:

		+part-favicon

		link(
			href='/src/styles/page-list-styles.scss'
			rel='stylesheet'
		)

	body
		+section-page-list
