mixin core-svg-icon(props = {})
	-
		const { elementClass = 'core-svg-icon', elementModes = [], name, viewBox = false } = props;

		if (name) {
			elementModes.push(name);
		}

		const classNamesFiltered = getClassNamesFiltered(elementClass, elementModes, 'core-svg-icon');

	if name
		+e.SVG(class=classNamesFiltered viewBox=viewBox)&attributes(attributes)
			use(href=`#${name}`)
