mixin part-main-content(props = {})
	if (block && block.toString() && (block.toString().includes('pug_html') || block.toString().includes('pug_mixins')))
		+b.MAIN.part-main-content&attributes(attributes)
			if block
				block
