mixin part-modals(props = {})
	if (block && block.toString() && (block.toString().includes('pug_html') || block.toString().includes('pug_mixins')))
		+b.SECTION.part-modals
			h2.visually-hidden
				| Секция с модальными окнами сайта
			block
