//- core
include core/bemto/bemto
include core/core-svg-icon/core-svg-icon
include core/core-photo/core-photo
include core/core-video/core-video
include core/core-modal/core-modal
include core/core-section/core-section

//- ui
include ui/ui-button/ui-button
include ui/ui-input/ui-input
include ui/ui-checkbox/ui-checkbox

//- buttons
include buttons/button-burger/button-burger

//- parts
include parts/part-favicon/part-favicon
include parts/part-header/part-header
include parts/part-main-content/part-main-content
include parts/part-footer/part-footer
include parts/part-tooltips/part-tooltips
include parts/part-modals/part-modals
include parts/part-templates/part-templates
include parts/part-breadcrumbs/part-breadcrumbs

//- items

//- tooltips

//- sections
include sections/section-page-list/section-page-list

//- modals

//- templates
