mixin core-section(props = {})
	-
		const { isCustomWrapper = false, tag = 'section' } = props;

	+b({ tag }).core-section&attributes(attributes)
		if block
			if isCustomWrapper
				block
			else
				+e.wrapper.wrapper
					block
