mixin part-tooltips(props = {})
	if (block && block.toString() && (block.toString().includes('pug_html') || block.toString().includes('pug_mixins')))
		+b.SECTION.part-tooltips(aria-hidden='true')
			h2.visually-hidden
				| Секция с подсказками сайта
			block
