mixin core-video(props = {})
	-
		const {
			elementClass = 'core-video',
			elementModes,
			blockModes,
			classNames = '',
			classNamesVideo = '',
			attrs = {},
			source = [],
			isObjectFitCover = false,
			isObjectFitContain = false
		} = props;

		const url = source && source.length ? source.find((el) => el.type === 'video/mp4').url : false;

		const classNamesFiltered = getClassNamesFiltered(elementClass, elementModes, 'core-video__', blockModes, classNames);
		const classNamesVideoFiltered = getClassNamesFiltered(isObjectFitCover && 'object-fit-cover', isObjectFitContain && 'object-fit-contain', classNamesVideo);

	if source && source.length
		+e(class=classNamesFiltered)
			if url
				+e.VIDEO.video(class=classNamesVideoFiltered)&attributes(attrs)
					each item in source
						source(
							src=item.url
							type=item.type
						)
					if url
						p
							| Ваш браузер не поддерживает встроенные видео. Попробуйте скачать его по
							a(href=url)
								| этой ссылке
