@use '/src/styles/mixins/flex-center' as *;
@use '/src/styles/mixins/text-overflow' as *;

.ui-button {
	flex: 0 0 auto;
	flex-flow: row nowrap;
	width: fit-content;
	max-width: 100%;

	@include flex-center;

	&__icon {
		flex: 0 0 auto;
	}

	&__text {
		flex-shrink: 1;

		@include text-overflow;
	}

	&_reverse {
		flex-direction: row-reverse;
	}

	&:not([class*='ui-button_type_']) {
	}

	&_type {
		&_primary {
		}
	}

	&:not([class*='ui-button_text-size_']) {
	}

	&_text-size {
	}
}
