mixin ui-button(props = {})
	-
		const {
			elementClass = 'ui-button',
			elementModes = [],
			modes = [],
			classNames,
			classNamesIcon,
			classNamesText,
			icon,
			text,
			url,
			tag = 'button',
			attrs= {},
		} = props;

		if (!text) {
			modes.push('circle');
		}

		const classNamesFiltered = getClassNamesFiltered(elementClass, elementModes, 'ui-button__', modes, classNames);
		const classNamesIconFiltered = getClassNamesFiltered(classNamesIcon, icon && `_${icon.name}`);
		const classNamesTextFiltered = getClassNamesFiltered(classNamesText);

	+e({tag: url ? 'a' : tag || 'button'})(href=url class=classNamesFiltered)&attributes({...attributes, ...attrs})
		if icon
			+e.SPAN.icon(class=classNamesIconFiltered)
				+core-svg-icon(icon)
		if text
			+e.SPAN.text(class=classNamesTextFiltered)
				| #{ text }
