include ../components/components-loader.pug

-
	function getClassNamesFiltered(...classNames) {
		if (!(classNames && classNames.length)) {
			return '';
		}
		const classNamesFiltered = [];

		classNames.forEach((className) => {
			if (className) {
				if (Array.isArray(className) && className.length) {
					classNamesFiltered.push(`_${className.join(' _')}`);
				} else if (typeof className === 'string') {
					classNamesFiltered.push(className);
				}
			}
		});

		if (classNames.length) {
			return classNamesFiltered.filter(Boolean).join(' ');
		}

		return '';
	}

doctype html
html(
	class=Settings.html.modes
	lang=Settings.html.lang
	dir=Settings.html.dir
)&attributes(Settings.html.attrs)
	head
		block head-start

		meta(charset='utf-8')

		meta(
			name='viewport'
			content='width=device-width, initial-scale=1, viewport-fit=cover'
		)

		meta(
			http-equiv='X-UA-Compatible'
			content='IE=edge'
		)

		meta(
			name='format-detection'
			content='telephone=no'
		)

		title
			| #{ Settings.title || `Page ${Settings.pageName || ''}`.trim() }

		+part-favicon

		block styles
			link(
				href='/src/styles/font-styles.scss'
				rel='stylesheet'
			)

			link(
				href='/src/styles/vendor-styles.scss'
				rel='stylesheet'
			)

			link(
				href='/src/styles/app-styles.scss'
				rel='stylesheet'
			)

		block head-end

	body(class=Settings.body.modes)&attributes(Settings.body.attrs)
		block body-start

		block header
			+part-header

		+part-main-content(class=Settings.main.modes)&attributes(Settings.main.attrs)
			block content-start
			if Sections && Sections.length
				each section in Sections
					if section && section.componentName
						+#{section.componentName}(section.data)
			block content-end

		block footer
			+part-footer

		+part-tooltips
			block tooltips

		+part-modals
			-
				const modalsArray = [...((Modals && Modals.length && Modals) || []), ...((ModalsPage && ModalsPage.length && ModalsPage) || [])];
			if modalsArray && modalsArray.length
				each modal in modalsArray
					if modal && modal.componentName
						+#{modal.componentName}(modal.data)
			block modals

		+part-templates
			block templates

		block scripts

		block body-end
