@mixin max-rows($rows, $line-height: false, $max-height: false, $only-height: false) {
	@if $line-height == false {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: $rows;
		-webkit-box-orient: vertical;
	} @else {
		line-height: #{$line-height}rem;

		@if $max-height == false {
			height: #{$line-height * $rows}rem;
		} @else {
			max-height: #{$line-height * $rows}rem;
		}

		@if $only-height == false {
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: $rows;
			-webkit-box-orient: vertical;
		}
	}
}
