@mixin scrollbar {
	&::-webkit-scrollbar {
		display: block;
		width: 4px;

		@include large-tablet {
			width: 2px;
		}
	}

	&::-webkit-scrollbar-track {
		background: #ccc;
		border-radius: 100px;
	}

	&::-webkit-scrollbar-thumb {
		background: #000;
		border-radius: 100px;
	}
}
