@mixin text-underline($color: currentColor, $offset: 4px) {
	text-decoration: underline solid $color;
	text-decoration-thickness: 1px;
	text-underline-offset: $offset;
	text-decoration-skip-ink: none;
}
