@use '/src/styles/mixins/core-media-mixin' as *;
@use '/src/styles/mixins/wrapper-layout' as *;
@use '/src/styles/mixins/object-fit' as *;
@use '/src/styles/mixins/visually-hidden' as *;

html {
	font-size: var(--main-font-size);
}

body {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	font-family: monospace;
	font-size: 1.7rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	color: var(--color-black);

	@include large-desktop {
		font-size: 1.9rem;
	}

	@include large-mobile {
		font-size: 1.4rem;
		line-height: 1.1;
	}

	@supports (min-height: 100dvh) {
		min-height: 100dvh;
	}
}

.wrapper {
	@include wrapper-layout;
}

.object-fit {
	&-cover {
		@include object-fit(cover);
	}

	&-contain {
		@include object-fit(contain);
	}
}

.visually-hidden {
	@include visually-hidden;
}

.user-select-none {
	user-select: none;
}

.pointer-events-none {
	pointer-events: none;
}
