.content {
	h1 {
	}

	h2 {
	}

	h3 {
	}

	h4 {
	}

	h5 {
	}

	h6 {
	}

	p {
	}

	ol {
		li {
		}
	}

	ul {
		li {
		}
	}
}

.content b,
b {
}

.content strong,
strong {
}

em,
i {
	font-style: italic;
}
