@use '/src/styles/functions/div.scss' as *;
@use '/src/styles/mixins/core-media-mixin' as *;
@use '/src/styles/variables/color';
@use '/src/styles/variables/transition';

:root {
	--main-font-size: #{div(100, div(1920, 10))}vw;
	--wrapper-offset: 10rem;
	--wrapper-size: 192rem;
	--section-offset: 0;
	--color-black: #{color.$black};
	--transition-duration: #{transition.$duration};
	--transition-timing-function: #{transition.$timing-function};
	--breakpoint-hd: #{$hd-resolution};
	--breakpoint-macbook: #{$macbook-resolution};
	--breakpoint-large-desktop: #{$large-desktop-resolution};
	--breakpoint-small-desktop: #{$small-desktop-resolution};
	--breakpoint-large-tablet: #{$large-tablet-resolution};
	--breakpoint-small-tablet: #{$small-tablet-resolution};
	--breakpoint-large-mobile: #{$large-mobile-resolution};
	--breakpoint-small-mobile: #{$small-mobile-resolution};

	@include large-desktop {
		--main-font-size: #{div(100, div(1920, 11))}vw;
	}

	@include small-desktop {
		--main-font-size: #{div(100, div(1920, 12))}vw;
	}

	@include large-tablet {
		--main-font-size: 50%;
		--wrapper-offset: 4rem;
	}

	@include large-mobile {
		--main-font-size: 62.5%;
		--wrapper-offset: 2rem;
	}

	@include small-mobile {
		--main-font-size: #{div(100, div(375, 10))}vw;
	}
}
